body {
	background-image: url('../background/insta.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.nava {
	padding: 0 20px;
	height: 65px;
	line-height: 65px;
	display: block;
	color: grey;
	text-decoration: none;
}

.nava-nodec {
	padding: 0 20px;
	height: 65px;
	line-height: 65px;
	display: block;
	color: gray;
	text-decoration: none;
}

.nava-mr {
	padding: 0 20px;
	height: 65px;
	line-height: 65px;
	display: block;
	color: white;
	text-decoration: none;
}

.nav1 {
	width: 50%;
}

.nav3 {
	margin: 0% auto;
	width: 10%;
	text-align: center;
}

.nava:hover {
	background-color: gold;
}

* {
	padding: 0;
	margin: 0;
}

header {
	margin-left: 7%;
	color: white;
}

h1 {
	text-indent: 1em;
}

h2 {
	color: white;
	text-indent: 1em;
	margin-top: 10px;
}

h3 {
	color: white;
	margin-bottom: 10px;
}

.rank0 {
	width: 75%;
	text-indent: 4em;
	color: white;
}

.rank1 {
	margin-left: 2em;
}

.rank2 {
	margin-left: 4em;
}

.rank3 {
	text-indent: 1em;
	text-decoration: none;
	color: white;
}

.ranktable {
	margin-left: 0.95em;
	text-align: center;
}

img {
	float: left;
	border-radius: 15px;
}

video {
	margin-left: 50px;
	border-radius: 15px;
}

.topsearch {
	width: 35%;
	margin-right: 100px;
	margin-top: 50px;
	float: right;
}

.topsearch p {
	font-size: 13px;
	color: #ffffff;
}

.topsearch ol {
	border-top: solid 2px #00ff7f;
	border-bottom: solid 1px #999999;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
	font-size: 14px;
	line-height: 2em;
	padding: 8px 0 8px 30px;
	margin: 3px 0 0 0;
	color: white;
}

.topsearch ol a {
	text-decoration: none;
	color: #ffffff;
}

.topsearch ol a:hover {
	color: red;
}

.sort {
	width: 35%;
	margin-right: 70px;
	float: right;
}

.sort .sort1 {
	display: flex;
	background-color: #ff7d5b;
	color: white;
	width: 95%;
	padding: 30px 0 35px 0;
	border-radius: 15px;
}

.sort .sort2 {
	color: white;
	display: flex;
	width: 95%;
	padding: 30px 0 35px 0;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #5f71ff;
}

.sort .sort3 {
	color: white;
	display: flex;
	width: 95%;
	padding: 30px 0 35px 0;
	border-radius: 15px;
	background-color: #5f8064;
}

.name {
	font-size: 22px;
	margin-left: 1em;
	font-weight: bold;
}

.sort ol a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.sort li {
	line-height: 1.5em;
	margin: 10px 0;
	margin-left: 2em;
}

.MRB {
	margin-left: 2em;
}

footer {
	text-align: center;
	color: white;
}

.but {
	text-decoration: none;
}